@import url('https://fonts.googleapis.com/css2?family=Netflix Sans:wght@400;700&family=Poppins:wght@400;700&family=Roboto&display=swap');
@font-face {
    font-family: "Netflix Sans"; 
    src: url("/netflix-sans-font/NetflixSans-Regular.otf"), format("opentype");
}
*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 2fr 1fr;
    width: 100vw;
    height: 3600px;
    background-color: black;
    box-sizing: border-box;
    overflow-x: hidden;
}
.h2s_descricoes{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 2em;
    margin: 10px;
    width: 416px;

}
.ps_descricoes{
    font-family: "Netflix Sans", sans-serif;
    color: white;
    font-size: 1.2em;
    margin: 10px;
    width: 416px;
    font-weight: 600;

}
#div_form_secoes{
    display: flex;
}
#botao_registrar_secoes{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    background-color:  #cf0e0e;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
#botao_registrar_secoes:hover{
    transform: scale(1.005);
    cursor: pointer;
}

#email_secoes{
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    background-color: white;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 400px;
}
#email_secoes:focus{
    outline-color: gray;
}
#form_secoes{
    display: flex;

}
#nav_botao_secoes{
    background-color: rgba(0, 0, 0, 0.804);
    border: white 1.5px solid;
    border-radius: 4px;
    padding: 5px;
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}
/*INICIO SECAO 1*/
#secao1{
    background-image: url('./assets/fundo_netflix2.jpg');
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 50px;
}
#nav_secao1{
    display: flex;
    gap: 15px;
    align-items: center;

}

#nav_botao2_secao1{
    background-color: #cf0e0e;
    border-radius: 4px;
    border: none;
    padding: 5px;
    width: 100px;
    height: 40px;

}

.links_secao1{
    font-family: "Netflix Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: white;
}
#logo_secao1{
    font-family: "Poppins", sans-serif;
    color:  #cf0e0e;
    margin: 10px;
    font-weight: 800;
    font-size: 3rem;
    
}

#texto_menor{
    font-family: "Netflix Sans", sans-serif;
    color: white;
    font-size: 0.8em;
    margin: 10px;
    font-weight: 600;
}
#conteudo_principal_secao1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    
}

#titulo_secao1{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 3em;
    margin: 10px;
}

/*FIM SECAO 1*/
#secao2{
    background-color: black;
    border-top: solid 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:180px;
}
#secao3{
    background-color: black;
    border-top: solid 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:180px;
}
#secao4{
    background-color: black;
    border-top: solid 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:180px;
}
#secao5{
    background-color: black;
    border-top: solid 3px gray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:180px;

}
/*INICIO SECAO 6*/
#secao6{
    background-color: black;
    border-top: solid 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#secao6 > h2{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 2.5rem;
    margin: 10px;
}
#main_secao6{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

#paragrafo_secao6{
    font-family: "Netflix Sans", sans-serif;
    color: white;
    font-size: 1.2rem;
    margin: 5px;
}
.botoes_secao6{
    background-color: #5d5a56;
    width: 815px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease-in-out;
    border: none;
}
.botoes_secao6:hover{
    transform: scale(1.005);
    cursor: pointer;
    background-color: #cf0e0e;
}
.botoes_secao6 > p{
    font-family: "Netflix Sans", sans-serif;
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
    
}
.botoes_secao6 > img{
    margin-right: 20px;
}
.divs_secao6 > p{
    font-family: "Netflix Sans", sans-serif;
    color: white;
    font-size: 1.2rem;
    margin-left: 20px;
}
.divs_secao6{
    display: none;
}


#form_secao6{
    display: flex;
}
#div_inferior_secao6{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*FIM SECAO 6*/
/*INICIO SECAO 7*/
#secao7{
    background-color: black;
    border-top: solid 3px gray;
    align-items: center;
    justify-content: center;
    gap:180px;
}

.links_secao7{
    font-family: "Netflix Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: gray;
}
.links_secao7:hover{
    color: white;
    text-decoration: underline;
}
#main_secao7{
    display: flex;
    margin: 10% 20%;

}
#div_subprincipal_main_secao7{
    display: flex;
    flex-direction: column;
    gap: 40px;

}
#div_subprincipal_main_secao7 > p{
    font-family: "Netflix Sans", sans-serif;
    color: gray;
    font-size: 1.2rem;

}
.div_links_secao7{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#div_divs_secao7{
    display: flex;
    gap: 120px;
}
#div_inferior_secao7{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#div_inferior_secao7 > p{
    font-family: "Netflix Sans", sans-serif;
    color: gray;
    font-size: 1.2rem;

}
/*FIM SECAO 7*/